.img-tam {
max-width: 100%;
height: auto;
display: block;
margin-bottom: 1rem;
border-radius: 8px; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-tbl {
max-width: 100%;
height: auto;
display: block;
margin-bottom: 1rem;
border-radius: px; 
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

table{
    max-width: 100%;
    border:1px solid black; 
    width:500px;
    background-color:lightseagreen;
    border-spacing:2px;
    margin-left:auto;
    margin-right:auto"
}

td{
    padding:10px;
    border:1px solid black;
    background-color:lightcyan;
    background-image: url(..);
}

th{
    padding:5px;
    border:1px solid black;
    background-color:lightblue;
}

a:link{
    color:lightseagreen
}

a:visited{
    color:lightseagreen
}

a:hover{
    color:cyan
}

a:active{
    color:blue
}

p {
    font-family: 'GFS Neohellenic'
}

body{
    background-color: rgb(235, 231, 231);
}

h1,h2,h3{
    color:rgb(32, 82, 90);
    background-color: rgba(18, 139, 137, 0.348);
}

.botao-comprar{
    color:rgba(83, 177, 177, 0.74)
}